<!DOCTYPE html>
<html>
  <head>
    <title>Missing</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href='http://fonts.googleapis.com/css?family=Peralta' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Emilys+Candy' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Istok+Web' rel='stylesheet' type='text/css'>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  </head>
  <body>
      <div id="pqf" class="normal">
          <div>
          Oook... (Missing page)
          </div>
      </div>
      <div id="menu"><a href="">about</a></div>
  </body>
</html>

