<!DOCTYPE html>
<html id="stii">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Istok+Web' rel='stylesheet' type='text/css'>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  </head>
  <body>
      <div id="pqf" class="wide">
          <h4 class="gloria small-pad"><a href="/pqf">About Terry Pratchett Quotes</a></h4>
          <p class="istok">I'm a huge Pratchett fan. This is a small Node.js site that displays random Terry Pratchett quotes which I parsed out of the <a href="http://www.lspace.org/books/pqf/">PQF (Pratchett Quote File)</a> and stored it into Mongodb. It will likely change frequently as I'm learning Node.js for fun. It is hosted on an Amazon EC2 Micro instance and the source is on github.</p>
          <h4 class="gloria small-pad"><a href="/pqf">About the rest</a></h4>
          <p class="istok">The background image is from another favorite of mine. It is a picture of Whiskeyjack from the Malazan, book of the fallen series. Seriously, I've said it a thousand times, read it. Credit goes to <a href="http://luktarig.deviantart.com/">Luktarig</a>.</p>
          <p class="istok">Follow me on <a href="http://www.twitter.com/stii">twitter @stii</a>.</p>
      </div>
      <div id="menu">
        <a href="/">home</a>
        <a href="/about">about</a>
        <a href="/pqf">terry pratchett quotes</a>
        <a href="http://www.twitter.com/stii">follow me</a>
      </div>
  </body>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35743945-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</html>
