<!DOCTYPE html>
<html id="stii">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Istok+Web' rel='stylesheet' type='text/css'>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  </head>
  <body>
      <div id="pqf" class="normal">
          <h1>Hi, I'm Stii</h1>
          <h4 class="small-pad"><a href="/pqf">Terry Pratchett Quotes</a></h4>
          <p class="istok small-pad">(A fun little project in Node.js - <a href="/about">more about it here...</a>)</p>
          <p class="istok">I am a software developer in living and loving Cape Town, South Africa.</p>
          <p class="istok">I work at <a href="http://www.takealot.com">TAKEALOT.com</a>.</p>
          <p class="istok">Follow me on <a href="http://www.twitter.com/stii">twitter @stii</a>.</p>
      </div>
      <div id="menu">
        <a href="/">home</a>
        <a href="/about">about</a>
        <a href="/pqf">terry pratchett quotes</a>
        <a href="http://www.twitter.com/stii">follow me</a>
      </div>
  </body>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35743945-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</html>
