<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Istok+Web' rel='stylesheet' type='text/css'>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  </head>
  <body>
      <div id="pqf" class="normal">
          <div>
              <%- quote %> 
              <p><%= source %></p>
              <p class="istok"><a href="/pqf/<%= number %>">link to quote</a><br /> 
              <a href="/pqf">next random quote</a></p>
          </div>
      </div>
      <div id="menu">
        <a href="/">home</a>
        <a href="/about">about</a>
        <a href="/pqf">terry pratchett quotes</a>
        <a href="http://www.twitter.com/stii">follow me</a>
      </div>
  </body>
</html>
