html { 
  background: url(/images/tp4.jpg) no-repeat top center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html#stii { 
  background: url(/images/whiskeyjack.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body { 
    font-size:150%; line-height: 110%; color: #CDCDC1; font-family: 'Gloria Hallelujah', cursive; 
    background: black;
    margin: 0;
    padding: 0;
} 
#pqf {
    margin: 30px;
    float: right;
    overflow: hidden;
}
.normal {
    width: 40%;
}
.wide {
    width: 60%;
}
#pqf p {
    text-align: right;
    font-size:60%;
}
#pqf a {
    color: lavenderblush;
    text-decoration: none;
}
#pqf a:hover {
    color: navajowhite;
}
h1 {
    font-family: 'Gloria Hallelujah', cursive;
    font-size:200%;
    text-align: right;
}
h2,h3,h4 {
    font-family: 'Istok Web', sans-serif;
    text-align: right;
}
.gloria {
    font-family: 'Gloria Hallelujah', cursive;
}
.small-pad {
    padding: 2px;
    margin: 5px;
    line-height: 80%;
}
small {
    font-family: 'Istok Web', sans-serif;
    font-size: 30%;
}
p.istok {
    font-family: 'Istok Web', sans-serif;
    font-size:100%;
}
#menu {
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 50px;
    margin: 0;
    background: lavenderblush;
    opacity:0.5;
    filter:alpha(opacity=50);
    padding: 0;
}
#menu a {
    color: #FFF;
    text-shadow: 1px 1px 1px #000;
    font-size:70%;
    text-decoration: none;
    font-family: 'Istok Web', sans-serif;
    margin: auto 10px;
}
#menu a:hover {
    color: #000;
}
div.clear {
    clear:both;
}
